# Server-specific passwords etc.
secrets.json

# Top-level Media and Static directories
/django/media
/django/static

# NPM and Typescript typings directories
/angular/node_modules
/angular/typings

# Directory containing compiled Angular code
/angular/dist

# Links to Angular resources
/django/site_assets/dist
/django/site_assets/index.html
/django/site_assets/node_modules
/django/site_assets/styles.css
/django/site_assets/systemjs.config.js

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
_build

# SQLite3 database files:
*.sqlite3

# Logs:
*.log

# PyCharm
.idea

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

