# Server-specific passwords etc.
secrets.json

# Top-level Media and Static directories
/ad/media
/ad/static

# NPM and Typescript typings directories
/ad/node_modules
/ad/typings

# Link to NPM directory
/ad/site_assets/node_modules

# Directory containing compiled Angular code
/ad/angularjs

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
_build

# SQLite3 database files:
*.sqlite3

# Logs:
*.log

# PyCharm
.idea

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

