<head>
    <base href="/">
    <title>ahernp.com</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>

<body style="background-color: {% if DEBUG %}#ddf{% else %}#fff{% endif %}">
    <ad-app>
        <ad-header id="header">
            <p>ahernp.com</p>
        </ad-header>
        <div id="content">
            <h1 id="personal-website-of-paul-ahern">Personal Website of Paul Ahern</h1>
            <p>
                Here you will find a <a title="Blog"  href="/blog">Blog</a>,
                some Application <a title="Application Guides"  href="/page/applications">Guides</a>,
                a catalog for my <a title="Library"  href="/sitemap/library">Library</a>
                and a <a title="Gallery"  href="/page/gallery">Gallery</a> of photographs.
            </p>
            <p>See <a title="Rooska"  href="/page/rooska">Rooska</a> for maps and photographs of my mountain.</p>
            <div class="column-left">
                <h2 id="external">External</h2>
                <p>
                    Favourite:
                    <a href="http://dictionary.reference.com" title="Dictionary, Thesaurus, etc.">Dictionary</a>
                    <a href="http://isabellebidou.com" title="Isabelle Bidou">Isabelle</a>
                    <a href="https://startpage.com/uk/?" title="Google Search Results, but with privacy">StartPage</a>
                    <a href="http://www.tfl.gov.uk/tube-dlr-overground/status/" title="London Underground Status">TfL</a>
                </p>
                <p>
                    Apps:
                    <a href="http://calibre-ebook.com/" title="Ebook Manager">Calibre</a>
                    <a href="http://www.geany.org" title="Text editor">Geany</a>
                    <a href="http://inkscape.org/" title="SVG editor">Inkscape</a>
                    <a href="https://lastpass.com/" title="Password Manager">LastPass</a>
                </p>
                <p>
                    Books:
                    <a href="http://www.abebooks.co.uk/" title="Advanced Book Exchange">ABE</a>
                    <a href="http://www.amazon.co.uk/" title="Amazon in the UK">Amazon</a>
                    (<a href="http://read.amazon.com" title="Cloud Reader - Kindle Books">read</a>)
                    <a href="http://www.baen.com/" title="Baen book publisher">Baen</a>
                    <a href="http://oreilly.com/ebooks/" title="IT Books">O'Reilly</a>
                    <a href="http://www.gutenberg.org/" title="Project Gutenberg">PG</a>
                </p>
                <p>
                    Cartoons:
                    <a href="http://www.dilbert.com/fast" title="Today's Dilbert comic">Dilbert</a>
                    <a href="http://www.doonesbury.com" title="Today's Doonesbury comic">Doonesbury</a>
                    <a href="http://www.garfield.com/comics/todayscomic.html" title="Today's Garfield comic">Garfield</a>
                    <a href="http://xkcd.com/" title="IT Comic">xkcd</a>
                </p>
                <p>
                    Games:
                    <a href="http://www.orienteering.ie/boc" title="Bishopstown Orienteering Club">BOC</a>
                    <a href="http://www.gamersgate.co.uk" title="GamersGate">GG</a>
                    <a href="http://www.gog.com/" title="Good Old Games">GOG</a>
                    <a href="https://www.humblebundle.com" title="Humble Indie Bundles">Humble</a>
                    <a href="http://store.steampowered.com" title="Steam Shop">Steam</a>
                </p>
                <p>
                    Media:
                    <a href="http://www.bbc.co.uk/weather/2643743?day=0" title="BBC Weather">BBC</a>
                    <a href="http://www.bbc.co.uk/iplayer/favourites">iPlayer</a>
                    <a href="http://www.pcpro.co.uk/" title="PC Pro magazine">PC Pro</a>
                    <a href="http://www.radiotimes.com/radio/radio-listings" title="Radio Times">RT</a>
                    <a href="http://www.revolutionspodcast.com/" title="by Mike Duncan">Revolutions</a>
                    <a href="https://www.youtube.com/feed/subscriptions">YouTube</a>
                </p>
                <p>
                    Misc:
                    <a href="http://academicearth.org" title="Academic Earth lectures">AE</a>
                    <a href="http://www.justiceharvard.org" title="Lectures with Michael Sandel">Justice</a>
                    <a href="http://www.walks.com/" title="Guided walks">London Walks</a>
                    <a href="http://www.openstreetmap.org/">Map</a>
                    <a href="http://www.mpsonline.org.uk" title="Mail and Telephone preference service">MPS</a>
                    <a href="https://www.gov.uk/" title="Info from the UK Government">gov.uk</a>
                </p>
                <p>
                    Shopping:
                    <a href="http://www.allwrite.nl/" title="Pens">Allwrite</a>
                    <a href="http://www.britishmuseum.org/" title="The British Museum">BM</a>
                    <a href="http://www.marksandspencer.com" title="Marks and Spencer">M&amp;S</a>
                    <a href="http://www.senzumbrellas.com/" title="Umbrellas">Senz</a>
                </p>
                <p>
                    Social:
                    <a href="https://www.google.com/contacts" title="Useful section Google don't provide a link to">Contacts</a>
                    <a href="https://www.facebook.com/ahernp2" title="My Profile on Facebook">Facebook</a>
                    <a href="https://www.linkedin.com/in/ahernp" title="My Profile on LinkedIn">LinkedIn</a>
                    <a href="https://twitter.com/ahernp" title="My Profile on Twitter">Twitter</a>
                </p>
                <p>
                    This Site:
                    <a href="https://angular.io/docs/ts/latest/" title="Angular 2 in Typescript">Angular</a>
                    <a href="http://www.djangoproject.com/" title="Web development framework">Django</a>
                    <a href="https://github.com/ahernp/angular-django">GitHub</a>
                </p>
                <p>
                    Web:
                    <a href="http://www.cookwood.com/" title="HTML &amp; Cascading Style Sheets">CSS</a>
                    <a href="http://grc.com/default.htm" title="PC security checks">Gibson</a>
                    <a href="https://pypi.python.org/pypi" title="Python Package Index">PyPI</a>
                    <a href="http://w3schools.com/" title="Web standards">W3Schools</a>
                </p>
            </div>

            <div class="column-right">
                <ad-homepage-navigation>
                    <h2>Internal</h2>
                    <p>
                        <a href="/page/applications">App</a>
                        ›
                        <a  href="/page/google-chrome">Chrome</a>
                        <a  href="/page/firefox">Firefox</a>
                        <a  href="/page/vim-editor">Vim</a>
                    </p>
                    <p>
                        <a  href="/blog">Blog</a>
                        ›
                        <a  href="/sitemap/blog">Archive</a>
                        <a ng-reflect-href="/blog/feed" href="/blog/feed">RSS</a>
                    </p>
                    <p>
                        <a  href="/page/gallery">Gallery</a>
                        ›
                        <a  href="/page/cork">Cork</a>
                        <a  href="/page/london">London</a>
                        <a  href="/page/wallpaper">Wallpaper</a>
                    </p>
                    <p>
                        <a  href="/page/library">Library</a>
                        ›
                        <a  href="/page/books">Books</a>
                        <a  href="/page/cds">CDs</a>
                        <a  href="/page/dvds">DVDs</a>
                        <a  href="/page/games">Games</a>
                    </p>
                    <p>
                        Misc
                        ›
                        <a  href="/page/msc">MSc</a>
                        <a  href="/page/twinings-tea">Twinings Tea</a>
                    </p>
                    <p>
                        Personal
                        ›
                        <a  href="/page/cv">CV</a>
                        <a  href="/page/portfolio">Portfolio</a>
                        <a  href="/page/profile">Profile</a>
                    </p>
                    <p>
                        <a  href="/page/reference">Ref</a>
                        ›
                        <a  href="/page/linux">Linux</a>
                        <a  href="/page/mysql">MySQL</a>
                        <a  href="/page/python">Python</a>
                    </p>
                    <p>
                        <a  href="/page/rooska">Rooska</a>
                        ›
                        <a  href="/page/planting">Planting</a>
                    </p>
                    <p>
                        This Site
                        ›
                        <a  href="/dashboard">Dashboard</a>
                        <a  href="/sitemap">Site Map</a>
                    </p>
                    <p>
                        <a  href="/tools">Tools</a>
                        ›
                        <a  href="/tools/cardgen">Cardgen</a>
                        <a  href="/tools/deduplicate">Deduplicate</a>
                        <a  href="/feedreader">Feedreader</a>
                    </p>
                    <p>
                        <a  href="/timers">Timers</a>
                    </p>
                </ad-homepage-navigation>
            </div>
            <div style="clear:both"></div>
        </div>
        <ad-footer id="footer">
            <p>
                Last Updated: 2016-10-01 19:28:35
                <span id="source_label">Source</span>
                <a  href="/page/markdown">Markdown</a>
                <a href="/admin/pages/page/3/change/">Edit</a>
            </p>
        </ad-footer>
        <div id="spinner">
            <img src="{% static "spinner.gif" %}" alt="Please Wait" title="Please Wait">
        </div>
    </ad-app>
    <script src="{% static "ad.bundle.js" %}"></script>
</body>

</html>
