body {
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 16px;
	background-color: #efe;
	color: #444;
	margin: 0;
}
h1, h2, h3, h4, a, th {color: #046;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1em;}
h4 {font-size: .75em;}
code {
	font-family: 'Droid Sans Mono', Monospace;
	color: #000;
}
table {border-collapse: collapse;}
th, td {
	border: 1px solid #000;
	padding:0 0.5em 0 0.5em;
}
tr.even {background-color: #ddd;}
tr.even:hover {background-color: #ace;}
tr.odd:hover {background-color: #ace;}
button {
	color: #fff;
	background-color: #046;
	font-size: 1em;
}
#source_label {
	color: #046;
	text-decoration: underline;
	cursor: pointer;
}
#header {
    display: block;
	background-color: #fff;
	position: fixed;
	top: 0;
	height: 32px;
	width: 100%;
	border-bottom: 1px #ccc solid;
	margin: 0;
	z-index: 9;
}
#header p {
    margin: 8px;
}
#content {
    display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 48px;
}
#footer {
    display: block;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	height: 45px;
	width: 100%;
	border-top: 1px #ccc solid;
	margin: 0;
	z-index: 9;
}
#spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
	z-index: 3;
}
.highlight {background-color:maroon;color:white;}
@media screen and (orientation:portrait) {
    .column-left {width:100%}
    .column-right {width:100%}
}
@media screen and (orientation:landscape) {
    .column-left {width:53%; float:left}
    .column-right {width:44%;float:left;padding-left:1em;}
}
h2.published_date {
	text-align: right;
}
