<ad-header id="header" *ngIf="breadcrumbs" [breadcrumbs]="breadcrumbs"></ad-header>

<div id="content">
    <h1 id="personal-website-of-paul-ahern">Personal Website of Paul Ahern</h1>

    <p>
        Here you will find a <a routerLink="/blog/" title="Blog">Blog</a>,
        some Application <a routerLink="/page/applications/" title="Application Guides">Guides</a>,
        a catalog for my <a routerLink="/page/library/" title="Library">Library</a>
        and a <a routerLink="/page/gallery/" title="Gallery">Gallery</a> of photographs.
    </p>

    <p>See <a routerLink="/page/rooska/" title="Rooska">Rooska</a> for maps and photographs of my mountain.</p>

    <div class="column-left">
        <ad-content *ngIf="homepage" [page]="homepage"></ad-content>
    </div>

    <div class="column-right">
        <h2>Internal</h2>
        <p>
            <a routerLink="/page/applications/" title="Applications">Apps</a> ›
            <a routerLink="/page/google-chrome/">Chrome</a>
            <a routerLink="/page/firefox/">Firefox</a>
            <a routerLink="/page/applications/#tiddlywiki">TiddlyWiki</a>
            <a routerLink="/page/vim-editor/">Vim</a>
            <br>
            <a routerLink="/blog/">Blog</a> ›
            <a routerLink="/blog/archive/">Archive</a>
            <a routerLink="/blog/feed/">RSS Feed</a>
            <br>
            <a routerLink="/page/gallery/" title="Gallery">Gallery</a> ›
            <a routerLink="/page/gallery/#ovens">Ovens</a>
            <a routerLink="/page/gallery/#london">London</a>
            <a routerLink="/page/gallery/#wallpaper">Wallpaper</a>
            <br>
            <a routerLink="/page/library/" title="Library">Library</a> ›
            <a routerLink="/page/books/">Books</a>
            <a routerLink="/page/cds/">CDs</a>
            <a routerLink="/page/dvds/">DVDs</a>
            <a routerLink="/page/software/">Software</a>
            <br>
            Misc:
            <a routerLink="/page/msc/" title="MSc">MSc</a>
            <a routerLink="/page/twinings-tea/" title="Twinings Tea">Tea</a>
            <br>
            Personal:
            <a routerLink="/page/cv/" title="CV">CV</a>
            <a routerLink="/page/profile/" title="Personal Profile">Profile</a>
            <a routerLink="/page/public-key/" title="Public Key">Public Key</a>
            <br>
            <a routerLink="/page/reference/" title="Technical Reference">Ref</a> ›
            <a routerLink="/page/html-colours/" title="147 Named HTML Colours">Colours</a>
            <a routerLink="/page/linux/">Linux</a>
            <a routerLink="/page/mysql/">MySQL</a>
            <a routerLink="/page/python/">Python</a>
            <br>
            <a routerLink="/page/rooska/" title="Rooska by Bantry Bay">Rooska</a> ›
            <a routerLink="/page/planting/" title="Planting Trees">Planting</a>
            <br>
            This Site:
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/site_map/">Site Map</a>
            (<a routerLink="/dmcm/edit/">edit</a>)
            <br>
            <a routerLink="/tools/" title="Tools">Tools</a> ›
            <a routerLink="/tools/javascript/#/cardgen">Cardgen</a>
            <a routerLink="/tools/javascript/#/deduplicate">Deduplicate</a>
            <a routerLink="/feedreader/">Feedreader</a>
            <br>
            <a routerLink="/page/timers">Timers</a>
        </p>
    </div>

    <div style="clear:both"></div>
</div>

<ad-footer id="footer" *ngIf="homepage" [page]="homepage"></ad-footer>
